CREATE DATABASE PROJECT;

USE PROJECT;

CREATE TABLE Customers (
    CustomerID INT PRIMARY KEY AUTO_INCREMENT,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100)
);

INSERT INTO Customers (FirstName, LastName, Email) VALUES
('John', 'Osei', 'john.osei@project.com'),
('Jackie', 'Smith', 'jackie.smith@project.com'),
('Akua', 'Bido', 'akua.bido@project.com'),
('Sark', 'Daavi', 'Sark.daavi@project.com');

CREATE TABLE Orders (
    OrderID INT PRIMARY KEY AUTO_INCREMENT,
    CustomerID INT,
    OrderDate DATE,
    TotalAmount DECIMAL(10, 2),
    FOREIGN KEY (CustomerID) REFERENCES Customers(CustomerID)
);


	INSERT INTO Orders (CustomerID, OrderDate, TotalAmount) VALUES
(1, '2024-03-01', 100.50),
(1, '2024-03-05', 75.20),
(2, '2024-03-02', 150.75),
(3, '2024-03-03', 200.00),
(4, '2024-03-07', 50.00);

import pandas as pd
import mysql.connector

# Connect to MySQL database
try:
    connection = mysql.connector.connect(
        host='localhost',
        user='root',
        password='cUny$p$_7',
        database='PROJECT',
        port=3306
    )
    print("Connected to MySQL database!")
    
    # Write SQL query
    query = '''
        SELECT c.LastName, c.FirstName, t.Name AS TrackName, a.Title AS AlbumTitle
        FROM Customer AS c
        INNER JOIN Invoice AS i ON c.CustomerId = i.CustomerId
        INNER JOIN InvoiceLine AS il ON i.InvoiceId = il.InvoiceId
        INNER JOIN Track AS t ON il.TrackId = t.TrackId
        INNER JOIN Album AS a ON t.AlbumId = a.AlbumId
        ORDER BY c.LastName, c.FirstName
    '''

    # Execute the query and fetch results into a pandas DataFrame
    df = pd.read_sql(query, connection)

    # Display the first five rows of the DataFrame
    print(df.head())
    
    # Close connection
    connection.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL database:", error)